#root {
  margin: 0 auto;
  text-align: left;
}

.accordion {
  width: 100%;
  max-width: 370px;
  margin: 20px auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.accordion-item {
  border: 3px solid #020202;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.header {
  background: #dedbdb;
  padding: 10px;
  padding-right: 115px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.content {
  padding: 10px;
  background: #fff;
  border-top: 3px solid #030303;
}
