.container {
  max-width: 800px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

.row {
  font-family: Comic-sans, sans-serif;
  display: flex;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.column-two-third {
  flex-basis: calc(200% / 2);
}
